body {
background-color: rgb(230, 230, 230);

}

.app-header{
	background-color: rgb(60, 195, 159);
}

.done{
	text-decoration: line-through; colour:#ccc;
	background-color: rgb(211, 85, 93);
}

.add-task-group{
	padding: 5px;
	background-color: rgb(245, 245, 245);
}

.list{
	padding-top: 5px;
}



